
p Hi #{'JesuDoss'},
p Here is your new order.
p From           : #{obj.username},
p Email id       : #{obj.email},
p Store Name     : #{obj.store_name},
p contact Number : #{obj.phonenumber},
p Addresss       : #{obj.address},
p zipcode        : #{obj.zipcode},

p Product Details: #{message}


